<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gemstonelive.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>gemstonelive.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>gemstonelive</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$gemstonelive</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GemStone_LIVEEntities9" Order="17" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GemStoneLive_WebAPI.GemStone_LIVEEntities9, GemStoneLive_WebAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GemStone_LIVEEntities12" Order="22" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GemStoneLive_WebAPI.GemStone_LIVEEntities12, GemStoneLive_WebAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="23" Enabled="False">
          <Destination Path="Data Source=tcp:gemstoneserver.database.windows.net,1433;Initial Catalog=gemstonelive865;User ID=mservices@gemstoneserver;Password=Gemlive@2016" Name="Data Source=tcp:gemstoneserver.database.windows.net,1433;Initial Catalog=gemstonelive865;User Id=mservices@gemstoneserver;Password=Gemlive@2016" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GemStoneLive_WebAPI.Models.ApplicationDbContext, GemStoneLive_WebAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GemStone_LIVEEntities1" Order="25" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GemStoneLive_WebAPI.GemStone_LIVEEntities1, GemStoneLive_WebAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GemStone_LIVEEntities4" Order="30" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GemStoneLive_WebAPI.GemStone_LIVEEntities4, GemStoneLive_WebAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GemStone_LIVEEntities" Order="31" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=gemstoneserver.database.windows.net;Initial Catalog=GemStone_LIVE;User ID=mservices;Password=Gemlive@2016;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GemStone_LIVEEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/demandRequestsModel.csdl|res://*/demandRequestsModel.ssdl|res://*/demandRequestsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gemstoneserver.database.windows.net;initial catalog=GemStone_LIVE;user id=mservices;password=Gemlive@2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="GemStone_LIVEEntities5" Order="32" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GemStoneLive_WebAPI.GemStone_LIVEEntities5, GemStoneLive_WebAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GemStone_LIVEEntities2" Order="33" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=gemstoneserver.database.windows.net;Initial Catalog=GemStone_LIVE;Persist Security Info=True;User ID=mservices;Password=Gemlive@2016;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GemStone_LIVEEntities2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/itemDetailsModel.csdl|res://*/itemDetailsModel.ssdl|res://*/itemDetailsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gemstoneserver.database.windows.net;initial catalog=GemStone_LIVE;persist security info=True;user id=mservices;password=Gemlive@2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="GemStone_LIVEEntities6" Order="34" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GemStoneLive_WebAPI.GemStone_LIVEEntities6, GemStoneLive_WebAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GemStone_LIVEEntities7" Order="35" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GemStoneLive_WebAPI.GemStone_LIVEEntities7, GemStoneLive_WebAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GemStone_LIVEEntities10" Order="36" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=gemstoneserver.database.windows.net;Initial Catalog=GemStone_LIVE;Persist Security Info=True;User ID=mservices;Password=Gemlive@2016;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GemStone_LIVEEntities10_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/soldItemDetailsModel.csdl|res://*/soldItemDetailsModel.ssdl|res://*/soldItemDetailsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gemstoneserver.database.windows.net;initial catalog=GemStone_LIVE;persist security info=True;user id=mservices;password=Gemlive@2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="GemStone_LIVEEntities3" Order="37" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=gemstoneserver.database.windows.net;Initial Catalog=GemStone_LIVE;User ID=mservices;Password=Gemlive@2016;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GemStone_LIVEEntities3_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/perItemDetailsModel.csdl|res://*/perItemDetailsModel.ssdl|res://*/perItemDetailsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gemstoneserver.database.windows.net;initial catalog=GemStone_LIVE;user id=mservices;password=Gemlive@2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:gemstoneserver.database.windows.net,1433;Initial Catalog=gemstonelive865;User Id=mservices@gemstoneserver;Password=Gemlive@2016</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GemStone_LIVEEntities1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GemStone_LIVEEntities12-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GemStone_LIVEEntities4-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GemStone_LIVEEntities5-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GemStone_LIVEEntities6-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GemStone_LIVEEntities7-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GemStone_LIVEEntities9-Web.config Connection String" />
  </ItemGroup>
</Project>