<div ng-include="'templates/menu_bar.html'" onload= "type='true'"></div>
<div class="col-md-10">
<div class="panel panel-default">
    <div class="panel-heading" style="background-color: #ccccff" >Change Password</div>
    <div class="panel-body ">
        <table style="width:auto">
            <tr>
                <td style="padding: 10px">Old Password </td>
                <td><input type="text" ng-model="oldpass"></td>
            </tr>
            <tr>
                <td style="padding: 10px">New Password </td>
                <td><input type="text" ng-model="newpass"></td>
            </tr>
            <tr>
                <td style="padding: 10px">Confirm Password </td>
                <td><input type="text" ng-model="confirmpass"></td>
            </tr>
         </table>
        </div>
    <div class="text-center">
        <div class="btn-group btn-group-lg" >  <button type="button" class="btn btn-primary" style= "background-color: #ccccff;color: black">Submit</button></div>
    </div></div>

</div>
    </div>