<div id="loginbox" style="margin-top: 10px;"
     class="mainbox col-md-12">
    <div class="panel panel-info">
        <div class="panel-heading" style="height: 80px;color: white;background-color: black" >

            <div class="panel-title" align="center" style="font-size: xx-large">Gem Stone</div>
            <div style="padding-top: 20px" class="panel-body">
dsabdhsa
            </div>
        </div>
</div>
</div>
        <!--<div class="contentarearight">

            <div class="panel panel-default">
                <div class="panel-heading" style="background-color: black;color: white" >Stone for Approval</div>
                <div class="panel-body ">

                    <table style="width:auto" ng-repeat="stone in getItemDetails">

                            <td style="padding: 10px">First Name :</td>
                            <td>{{stone.userNames}}</td>
                        </tr>

                        <tr>
                            <td style="padding: 10px">Type Of Purchase :</td>
                            <td>{{stone.pType}}</td>
                        </tr>

                        <tr>
                            <td style="padding: 10px">Name Of Stone :</td>
                            <td>{{stone.sName}}</td>
                        </tr>

                        <tr>
                            <td style="padding: 10px">Size :</td>
                            <td>{{stone.stoneSize}}</td>

                            <td style="padding: 10px">Total Weight(CTs) :</td>
                            <td>{{stone.sWeight}}</td>
                        </tr>

                        <tr>
                            <td style="padding: 10px">Pieces :</td>
                            <td>{{stone.sPieces}}</td>

                            <td style="padding: 10px">Dimensions :</td>
                            <td>{{stone.sDimensions}}</td>
                        </tr>

                        <tr>
                            <td style="padding: 10px">Color :</td>
                            <td>{{stone.sColor}}</td>

                            <td style="padding: 10px">Shape :</td>
                            <td>{{stone.stoneShape}}</td>
                        </tr>

                        <tr>
                            <td style="padding: 10px">Origin :</td>
                            <td>{{stone.sOrigin}}</td>
                        </tr>

                        <tr>
                            <td style="padding: 10px">Treatment Remark :</td>
                            <td>{{stone.sRemark}}</td>
                        </tr>
                        <tr>
                            <td style="padding: 10px">Certificate Agency :</td>
                            <td>{{stone.scerAgency}}</td>
                        </tr>
                        <tr>
                            <td style="padding: 10px">Expected Sales price/carat :</td>
                            <td>{{stone.sCarat}}</td>
                        </tr>
                        <tr>
                            <td style="padding: 10px">Stock ID :</td>
                            <td>{{stone.stockId}}</td>
                        </tr>
                        <tr>
                            <td style="padding: 10px">Supplier Reference Certificate No. :</td>
                            <td>{{stone.sSupplierRef}}</td>
                        </tr>
                        <tr>
                            <td style="padding: 10px">Procure Price :</td>
                            <td>{{stone.sPurchase}}</td>
                        </tr>

                    </table>



                </div></div></div>

        </div>
        </div>
        </div>-->