<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

</head>

<body>

<div id="wrapper" >

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom:0px!important;background-color:#0d6aad " >
        <div class="navbar-header" >
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html" style="font-size:18px;color: white">GemStone</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">

            <!-- /.dropdown -->

            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-gear fa-fw" style="color: white;"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">

                    <li><a href="#"><i class="fa fa-key fa-fw"></i> Change Password</a>
                    </li>


                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw" style="color: white;"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#" ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" style="background-color: white" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="index.html"><i class="fa fa-home fa-fw"></i> Home</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-user-plus fa-fw"></i> Request<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a ui-sref="viewrequest"><i class="fa fa-user fa-fw"></i> Agent Request</a>
                            </li>
                            <li>
                                <a ui-sref="stonerequest"><i class="fa fa-star fa-fw"></i> Stone Request</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a ui-sref="adminState"><i class="fa fa-user fa-fw"></i> Add Agent</a>
                    </li>
                    <li>
                        <a ui-sref="viewagents"><i class="fa fa-table fa-fw"></i> View Agent</a>
                    </li>
                    <li>
                        <a ui-sref="viewitem"><i class="fa fa-pencil-square-o fa-fw"></i> Edit Items</a>
                    </li>
                    <li>
                        <a ui-sref="viewinv"><i class="fa fa-shopping-cart fa-fw"></i> Available Items</a>
                    </li>
                    <li>
                        <a ui-sref="demandRequest"><i class="fa fa-plus-square fa-fw"></i>Demand Requests</a>
                    </li>
                    <li>
                        <a ui-sref="solditems"><i class="fa fa-table fa-fw"></i> Sold Items</a>
                    </li>
                    <li>

                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

</body>

</html>
