<div ng-include="'templates/menu_bar.html'" onload= "type='true'"></div>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Items Sold</h1>

            <table id="t01" ng-table="tableParams" show-filter="true" class="table">
                <tr>
                    <th>Sr. No.</th>
                    <th>Username</th>
                    <th>Name of Stone</th>
                    <th>Origin</th>
                    <th>Whole Sale Price</th>
                    <th>Max BB Price</th>
                    <th>Vip Price</th>
                    <th>Retail Price</th>
                    <th>Delete</th>
                </tr>
                <tr ng-repeat="data in getSoldItems">
                    <td>{{$index+1}}</td>
                    <td>{{data.userNames}}</td>
                    <td>{{data.sName}}</td>
                    <td>{{data.sOrigin}}</td>
                    <td>{{data.bbPrice}}</td>
                    <td>{{data.maxbbPrice}}</td>
                    <td>{{data.vipPrice}}</td>
                    <td>{{data.retailPrice}}</td>
                    <td><button ng-click="delsolditem(sold_id=data.id)" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></button> </td>

                </tr>

            </table>
        </div>
    </div>
</div>


    <style>
        table {
            width:auto;
        }
        table, th, td {
            border: 1px solid white;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: center;
        }
        th {
            background-color: #2c4762;
            color: white;
        }
        table#t01 tr:nth-child(even) {
            background-color: #eee;
        }
        table#t01 tr:nth-child(odd) {
            background-color:#fff;
        }

    </style>


<!--
<div class="col-md-3">

    <div class="panel panel-default">

            <div class="panel-body ">
                    <table style="width:auto">
                    <tr>
                        <td style="padding: 10px">ID </td>
                        <td>_______________</td>
                    </tr>
                    <tr>
                        <td style="padding: 10px">Type </td>
                        <td>_______________</td>
                    </tr>
                    <tr>
                        <td style="padding: 10px">Origin </td>
                        <td>_______________</td>
                    </tr>
                    <tr>
                        <td style="padding: 10px">Procure Price </td>
                        <td>_______________</td>
                    </tr>
                    <tr>
                        <td style="padding: 10px">Wholesale Price </td>
                        <td>_______________</td>
                    </tr>
                    <tr>
                        <td style="padding: 10px">Vip Price </td>
                        <td>_______________</td>
                    </tr>
                    <tr>
                        <td style="padding: 10px">Retail Price </td>
                        <td>_______________</td>
                    </tr>
                    <tr>
                        <td style="padding: 10px">Status </td>
                        <td>_______________</td>
                    </tr>
                    </table>
             </div>
        </div>
    </div>

<div class="col-md-3">

    <div class="panel panel-default">

        <div class="panel-body ">
            <table style="width:auto">
                <tr>
                    <td style="padding: 10px">ID </td>
                    <td>_______________</td>
                </tr>
                <tr>
                    <td style="padding: 10px">Type </td>
                    <td>_______________</td>
                </tr>
                <tr>
                    <td style="padding: 10px">Origin </td>
                    <td>_______________</td>
                </tr>
                <tr>
                    <td style="padding: 10px">Procure Price </td>
                    <td>_______________</td>
                </tr>
                <tr>
                    <td style="padding: 10px">Wholesale Price </td>
                    <td>_______________</td>
                </tr>
                <tr>
                    <td style="padding: 10px">Vip Price </td>
                    <td>_______________</td>
                </tr>
                <tr>
                    <td style="padding: 10px">Retail Price </td>
                    <td>_______________</td>
                </tr>
                <tr>
                    <td style="padding: 10px">Status </td>
                    <td>_______________</td>
                </tr>
            </table>

        </div>
    </div>
</div>

<div class="col-md-3">

    <div class="panel panel-default">

        <div class="panel-body ">
            <table style="width:auto">
                <tr>
                    <td style="padding: 10px">ID </td>
                    <td>_______________</td>
                </tr>
                <tr>
                    <td style="padding: 10px">Type </td>
                    <td>_______________</td>
                </tr>
                <tr>
                    <td style="padding: 10px">Origin </td>
                    <td>_______________</td>
                </tr>
                <tr>
                    <td style="padding: 10px">Procure Price </td>
                    <td>_______________</td>
                </tr>
                <tr>
                    <td style="padding: 10px">Wholesale Price </td>
                    <td>_______________</td>
                </tr>
                <tr>
                    <td style="padding: 10px">Vip Price </td>
                    <td>_______________</td>
                </tr>
                <tr>
                    <td style="padding: 10px">Retail Price </td>
                    <td>_______________</td>
                </tr>
                <tr>
                    <td style="padding: 10px">Status </td>
                    <td>_______________</td>
                </tr>
            </table>
        </div>
    </div>
</div>