<style>
    table {
        width:auto;
    }
    table, th, td {
        border: 1px solid white;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
        text-align: center;
    }
    th {
        background-color: #2c4762;
        color: white;
    }
    table#t01 tr:nth-child(even) {
        background-color: #eee;
    }
    table#t01 tr:nth-child(odd) {
        background-color:#fff;
    }

</style>

<div ng-include="'templates/menu_bar.html'" onload= "type='true'"></div>


<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Edit Item</h1>

            <table id="t01" class="table">

                <tr>
                    <th>Sr.No</th>
                    <th>Name of Stone</th>
                    <th>Agent Username</th>
                    <th>Purchase Type</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                <tr ng-repeat="data in getPerItemDetails">
                    <td>{{$index+1}}</td>
                    <td>{{data.sName}}</td>
                    <td>{{data.userNames}}</td>
                    <td>{{data.pType}}</td>
                    <td><button ng-click="updateItems(edit_i=data.id);showPerDetails(viewst_id=data.id)" data-toggle="modal" data-target="#myModal1"  class="btn btn-info"> <i class="glyphicon glyphicon-edit"></i> </button> </td>
                    <td><button ng-click="deletetax(del_id=data.id)" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></button> </td>

                </tr>


            </table>
        </div>
    </div>
</div>





<div class="modal fade" id="myModal1" role="dialog">

    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" align="center">Item Details</h4>
            </div>

            <div class="modal-body">


                <table style="width:auto">
                    <tr>
                        <td style="padding: 10px"><b>First Name :</b></td>
                        <td>{{userNames}}</td>

                        <td style="padding: 10px"><b>Type Of Purchase:</b></td>
                        <td>{{pType}}</td>
                    </tr>

                    <tr>
                        <td style="padding: 10px"><b>Stone Type :</b></td>
                        <td>{{preSemi}}</td>

                        <td style="padding: 10px"><b>Quality :</b></td>
                        <td>{{sQuality}}</td>
                    </tr>

                    <tr>
                        <td style="padding: 10px"><b>Name Of Stone :</b></td>
                        <td>{{sName}}</td>

                        <td style="padding: 10px"><b>Size :</b></td>
                        <td>{{stoneSize}}</td>
                    </tr>

                    <tr>
                        <td style="padding: 10px"><b>Total Weight(CTs) :</b></td>
                        <td>{{sWeight}}</td>

                        <td style="padding: 10px"><b>Pieces :</b></td>
                        <td>{{sPieces}}</td>
                    </tr>

                    <tr>
                        <td style="padding: 10px"><b>Dimensions :</b></td>
                        <td>{{sDimensions}}</td>

                        <td style="padding: 10px"><b>Color :</b></td>
                        <td>{{sColor}}</td>
                    </tr>

                    <tr>
                        <td style="padding: 10px"><b>Shape :</b></td>
                        <td>{{stoneShape}}</td>

                        <td style="padding: 10px"><b>Origin :</b></td>
                        <td>{{sOrigin}}</td>
                    </tr>

                    <tr>
                        <td style="padding: 10px"><b>Treatment Remark :</b></td>
                        <td>{{sRemark}}</td>

                        <td style="padding: 10px"><b>Certificate Agency :</b></td>
                        <td>{{scerAgency}}</td>
                    </tr>
                    <tr>
                        <td style="padding: 10px"><b>Exp Sales price/carat:</b></td>
                        <td>{{sCarat}}</td>

                        <td style="padding: 10px"><b>Stock ID :</b></td>
                        <td>{{stockId}}</td>

                    </tr>
                    <tr>
                        <td style="padding: 10px"><b>Supplier Ref. Cert. No. :</b></td>
                        <td>{{sSupplierRef}}</td>

                        <td style="padding: 10px"><b>Procure Price :</b></td>
                        <td>{{sPurchase}}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><b>Image</b></td>
                        <td colspan="2">
                            <img src ="data:image/jpeg;base64,{{image1}}" height="100" width="100" />
                        </td>
                    </tr>

                    <tr>
                        <td style="padding: 10px"><b>B2B Price :</b></td>

                        <td><input id="b2bprice" type="text" class="form-control"  ng-model="bbprice" required/></td>
                    </tr>
                    <tr>
                        <td style="padding: 10px"><b>Markup % on B2B price:</b></td>

                        <td><input id="perb2bprice" type="text" class="form-control"  ng-model="mpbbprice" required/></td>
                    </tr>
                    <tr>
                        <td style="padding: 10px"><b>VIP Price:</b></td>

                        <td> <input id="vipprice" type="text" class="form-control"  ng-model="vip_price" required/></td>
                    </tr>
                    <tr>
                        <td style="padding: 10px"><b>Retail Price:</b></td>

                        <td><input id="retailprice" type="text" class="form-control"  ng-model="retailprice" required/></td>
                    </tr>


                </table>
            </div>
            <div class="modal-footer">
                <button type="submit" ng-click="updateSave()" class="btn btn-info col-sm-5 pull-left" ng-show="upbtn">Update</button>
                <a class="btn btn-danger col-sm-5 pull-right" data-dismiss="modal">Cancel</a>

            </div>
        </div>
    </div>




<!--    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" align="center">Update Item</h4>
            </div>

            <div class="modal-body">
                <div class="box box-primary">
                    <div class="box box-solid">

                        <form class="form-horizontal" id="signup1" name="signup1" role="form">
                            <div class="box-body">

                                <div class="form-group" style="display:none;">
                                    <label for="inputPassword3" class="col-sm-4 control-label">ID:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="meraId" required>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-4 control-label">Stone Name:</label>
                                    <div class="col-sm-8 date">
                                        <div class="input-group input-append ">
                                            <input id="sname" type="text" class="form-control"  ng-model="sname" required/>
                                            <!-- <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span> -->
                                        <!--</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-4 control-label">Agent Username:</label>
                                    <div class="col-sm-8 date">
                                        <div class="input-group input-append ">
                                            <input id="uname" type="text" class="form-control"  ng-model="userAgent" required/>
                                            <!-- <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span> -->
                                      <!--  </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-4 control-label">Purchase Type:</label>
                                    <div class="col-sm-8 date">
                                        <div class="input-group input-append ">
                                            <input id="ptype" type="text" class="form-control"  ng-model="ptype" required/>
                                            <!-- <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span> -->
                                   <!--     </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-4 control-label">B2B Price :</label>
                                    <div class="col-sm-8 date">
                                        <div class="input-group input-append ">
                                            <input id="b2bprice" type="text" class="form-control"  ng-model="bbprice" required/>
                                            <!-- <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span> -->
                                      <!--  </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-4 control-label">Markup % on B2B price :</label>
                                    <div class="col-sm-8 date">
                                        <div class="input-group input-append ">
                                            <input id="perb2bprice" type="text" class="form-control"  ng-model="mpbbprice" required/>
                                            <!-- <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span> -->
                                     <!--   </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-4 control-label">VIP Price:</label>
                                    <div class="col-sm-8 date">
                                        <div class="input-group input-append ">
                                            <input id="vipprice" type="text" class="form-control"  ng-model="vip_price" required/>
                                            <!-- <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span> -->
                                      <!--  </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-4 control-label">Retail Price:</label>
                                    <div class="col-sm-8 date">
                                        <div class="input-group input-append ">
                                            <input id="retailprice" type="text" class="form-control"  ng-model="retailprice" required/>
                                            <!-- <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span> -->
                                        <!--</div>
                                    </div>
                                </div>

                            </div><!-- /.box-body -->

                      <!--  </form>
                        <div class="modal-footer">
                            <button type="submit" ng-click="updateSave()" class="btn btn-info col-sm-5 pull-left" ng-show="upbtn">Update</button>
                            <a class="btn btn-danger col-sm-5 pull-right" data-dismiss="modal">Cancel</a>

                        </div>
                    </div>
                </div><!-- /. box -->
           </div>
        </div>

    </div>
</div>



