<style>
    table {
        width:auto;
    }
    table, th, td {
        border: 1px solid white;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
        text-align: center;
    }
    th {
        background-color: #2c4762;
        color: white;
    }
    table#t01 tr:nth-child(even) {
        background-color: #eee;
    }
    table#t01 tr:nth-child(odd) {
        background-color:#fff;
    }

</style>

<div ng-include="'templates/menu_bar.html'" onload= "type='true'"></div>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">View Agents</h1>
            <table id="t01" class="table">
                <tr>
                    <th>Sr No.</th>
                    <th>Agent's First Name</th>
                    <th>Agent's Last Name</th>
                    <th>Username</th>
                    <th>Origin</th>
                    <th>Agent Role</th>
                    <th>Email Id</th>
                    <th>Contact Number</th>
                    <th>Delete</th>
                </tr>
                <tr ng-repeat="data in getPerUserDetails ">
                    <td>{{$index+1}}</td>
                    <td>{{data.firstName}}</td>
                    <td>{{data.lastName}}</td>
                    <td>{{data.userName}}</td>
                    <td>{{data.originAgent}}</td>
                    <td>{{data.agentRole}}</td>
                    <td>{{data.emailId}}</td>
                    <td>{{data.contactAgent}}</td>
                    <td><button ng-click="decline_view(id_view=data.id)" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></button> </td>

                </tr>

            </table>

    </div>
        </div>
        </div>

